
[data-todoitem] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-btn-group {
  display: flex;
  flex-wrap: nowrap;
}
.todo-list-item {
    font-size: 1.25rem;

    & button {
      width: 35px;
      margin: 3px;
    }
    &-label {
      margin-left: 1.25rem;
      line-height: 35px;
      cursor: pointer;
      user-select: none;
    }
    &.done .todo-list-item-label {
      text-decoration: line-through;
    }
    &.important .todo-list-item-label {
      font-weight: bold;
      color: #dc3545;
    }
    &.darkmode{
      background-color: black;
      color: white;
    }
  }
  
  .btn.btn-outline-danger {
    &.active {
      background-color: danger;
    }
    &:hover {
      background-color: white;
      color: #dc3545;
      &.darkmode{
        background-color: black;
      }
    }
  }
/* .btn-outline-danger:focus, .btn-outline-danger:disabled {
  box-shadow: none;
} */