
[data-todoitem] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-btn-group {
  display: flex;
  flex-wrap: nowrap;
}
.todo-list-item {
    font-size: 1.25rem;

    & button {
      width: 35px;
      margin: 3px;
    }
    &-label {
      margin-left: 1.25rem;
      line-height: 35px;
      cursor: pointer;
      user-select: none;
    }
    &.done .todo-list-item-label {
      text-decoration: line-through;
    }
    &.important .todo-list-item-label {
      font-weight: bold;
      color: #dc3545;
    }
    &.darkmode{
      background-color: black;
      color: white;
    }
  }
  
  .btn.btn-outline-danger {
    &.active {
      background-color: danger;
    }
  }

  @media (hover: hover) {
    .btn.btn-outline-danger {
      &:hover {
        background-color: #dc3545;
        color: white;   
        cursor:pointer;
        &.darkmode{
          background-color: #dc3545;
          color: black;
          cursor:pointer;
        }
      }
      &.active:hover {
        background-color: #dc3545;
        color: white;   
        cursor:pointer;
        &.darkmode{
          background-color: #dc3545;
          color: white;
          cursor:pointer;
        }
      }
    }  
  }

  @media (hover: none) {
    .btn.btn-outline-danger {
      &:hover {
        background-color: inherit;
        color: #dc3545;   
        cursor:pointer;
        &.darkmode{
          background-color: black;
          color: #dc3545;
          cursor:pointer;
        }
      }
      &.active:hover {
        background-color: #dc3545;
        color: white;   
        cursor:pointer;
        &.darkmode{
          background-color: #dc3545;
          color: white;
          cursor:pointer;
        }
      }
    }  
  }