.todo-app {
  /* margin: 2rem auto 0 auto;
  max-width: 800px;
  padding: 2% 3%; */
  padding: 5% 25% 30% 25%;
  margin: 0;

  @media only screen and (max-width: 600px) {
    margin: 0;
    padding: 5% 3% 100% 3%;
  }
  /* @media only screen and (max-width: 900px) {
    margin: 0;
    padding: 5% 3% 100% 3%;
  } */

  &.darkmode{
    background-color: black;
    color: white;
    /* padding: 5% 25% 80% 25%;
    max-width: 100vw;
    margin: 0;
    @media only screen and (max-width: 600px) {
      margin: 0;
      padding: 5% 3% 150% 3%;
    }
    @media only screen and (max-width: 1000px) {
      margin: 0;
      padding: 5% 7% 150% 7%;
    } */
  }
}

.top-panel {
  margin: 1rem 0;
}

.user-panel {
  justify-content: space-between;
}

.greeting {
  float: left;
  font-size: 1.5rem;
  color: inverse;
}

.descr>span {
  font-size: 0.8rem;
  color: tomato;
}

.dark-toggle {
  text-align: right;
}