 
.todo-app {
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 2% 3%;

  /* background-color: black;
  color: white; */

  @media only screen and (max-width: 600px) {
    margin: 0;
    padding: 3% 5%;
  }

  &.darkmode{
    background-color: black;
    color: white;
    @media only screen and (max-width: 600px) {
      body {
        background-color: black;
      }
    }
  }
}

.top-panel {
  margin: 1rem 0;
}

.user-panel {
  justify-content: space-between;
}

.greeting {
  float: left;
  font-size: 1.5rem;
  color: inverse;
}

.descr>span {
  font-size: 0.8rem;
  color: tomato;
}

.dark-toggle {
  text-align: right;
}