  
.todo-app {
  margin: 2rem auto 0 auto;
  max-width: 400px;
}

@media only screen and (max-width: 600px) {
  .todo-app {
    margin: 5%;
    max-width: 400px;
  }
}

.top-panel {
  margin: 1rem 0;
}