.todo-app {
  padding: 5% 25% 5% 25%;
  margin: 0;
  min-height: 100vh;
  @media (max-width: 600px) {
    margin: 0;
    padding: 5% 3% 5% 3%;
  }

  &.darkmode{
    background-color: black;
    color: white;
  }
}

.top-panel {
  margin: 1rem 0;
}

.user-panel {
  justify-content: space-between;
}

.greeting {
  float: left;
  font-size: 1.5rem;
  color: inverse;
}

.descr .login-span {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  color: #17a2b8;
  font-size: 1.1rem;
}

.dark-toggle {
  text-align: right;
}
